<article class="card-page">
  <div class="card-page__body">
    <h3 class="card-page__title">
      <a href="{{ page.url }}" class="card-page__title-link">
        {{- page.title | escape -}}
      </a>
    </h3>

    {%- if page.content != blank -%}
      <p class="card-page__excerpt">
        {{- page.content | strip_html | truncate: 120 -}}
      </p>
    {%- endif -%}

    <a href="{{ page.url }}" class="card-page__read-more link">
      {{ 'general.page.read_more' | t | default: 'Read more' }}
      <span class="visually-hidden"> {{ page.title | escape }}</span>
    </a>
  </div>
</article>