<article class="card-article">
  {%- if article.image -%}
    <a href="{{ article.url }}" class="card-article__image-link" tabindex="-1" aria-hidden="true">
      <div class="card-article__image-wrapper">
        {{
          article.image
          | image_url: width: 800
          | image_tag:
            loading: 'lazy',
            widths: '400, 600, 800',
            class: 'card-article__image',
            alt: article.image.alt | escape
        }}
      </div>
    </a>
  {%- endif -%}

  <div class="card-article__body">
    <h3 class="card-article__title">
      <a href="{{ article.url }}" class="card-article__title-link">
        {{- article.title | escape -}}
      </a>
    </h3>

    {%- if article.excerpt_or_content != blank -%}
      <p class="card-article__excerpt">
        {{- article.excerpt_or_content | strip_html | truncate: 120 -}}
      </p>
    {%- endif -%}

    <a href="{{ article.url }}" class="card-article__read-more link">
      {{ 'blogs.article.read_more' | t | default: 'Read more' }}
      <span class="visually-hidden"> {{ 'blogs.article.read_more_about' | t: title: article.title | default: article.title }}</span>
    </a>
  </div>
</article>