{% comment %}
  Header Mega Menu - Better Level 3 support for your menu structure
{% endcomment %}

{% assign mega_menu = menu %}

{% if mega_menu and mega_menu.links.size > 0 %}
  <div class="header-bottom__mega-columns">

    {%- for column in mega_menu.links -%}
      <div class="header-bottom__mega-column">

        <!-- Level 2 = Column Heading -->
        <h4 class="header-bottom__mega-heading">{{ column.title }}</h4>

        {%- for item in column.links -%}
          
          {%- if item.links.size > 0 -%}
            <!-- Level 3 group -->
            <div class="header-bottom__mega-subheading">{{ item.title }}</div>
            <ul class="header-bottom__mega-list">
              {%- for link in item.links -%}
                <li>
                  <a href="{{ link.url }}" class="header-bottom__mega-link">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- else -%}
            <!-- Direct Level 3 link -->
            <a href="{{ item.url }}" class="header-bottom__mega-link">{{ item.title }}</a>
          {%- endif -%}

        {%- endfor -%}

      </div>
    {%- endfor -%}

  </div>
{% endif %}