{% comment %}
  MEGA MENU BLOCK
  For use inside sections/header-menu.liquid
  Add this block type in your section schema under "blocks"
{% endcomment %}

{%- liquid
  assign menu = block.settings.menu
  assign heading = block.settings.heading | default: menu.title
-%}

<div class="mega-menu" {{ block.shopify_attributes }}>
  <div class="mega-menu__content">
    {% if heading != blank %}
      <div class="mega-menu__heading">
        <h3>{{ heading }}</h3>
      </div>
    {% endif %}

    {% if menu != blank %}
      <ul class="mega-menu__links" role="list">
        {% for link in menu.links %}
          <li class="mega-menu__item">
            <a href="{{ link.url }}" class="mega-menu__link{% if link.active %} mega-menu__link--active{% endif %}">
              {{ link.title }}
            </a>

            {% if link.links != blank %}
              <ul class="mega-menu__sublinks">
                {% for child in link.links %}
                  <li>
                    <a href="{{ child.url }}" class="mega-menu__sublink{% if child.active %} mega-menu__sublink--active{% endif %}">
                      {{ child.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="mega-menu__empty">No menu selected</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "mega-menu",
  "tag": "div",
  "class": "mega-menu-block",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Mega Menu"
    }
  ]
}
{% endschema %}