{% comment %}
  Header Flyout Menu (Improved)
  Sidebar (Level 1) + Content (Level 2 & 3)
  Supports: Hover or Click trigger + First item open by default
{% endcomment %}

{% assign flyout_menu = menu %}
{% assign trigger = trigger | default: 'hover' %}   <!-- hover or click -->

{% if flyout_menu and flyout_menu.links.size > 0 %}
  <div class="flyout-menu" data-trigger="{{ trigger }}">

    <!-- Left Sidebar (Level 1) -->
    <div class="flyout-menu__sidebar">
      <ul class="flyout-menu__sidebar-list">

        {%- for item in flyout_menu.links -%}
          {%- assign is_first = forloop.first -%}
          {%- assign is_open = is_first -%}

          <li class="flyout-menu__sidebar-item {% if is_open %}is-active{% endif %}">
            <details 
              {% if is_open %}open{% endif %} 
              class="flyout-menu__details"
              {% if trigger == 'hover' %}data-hover-trigger{% endif %}>

              <summary class="flyout-menu__sidebar-link">
                {{ item.title }}
              </summary>

              <!-- Right Content (Level 2 + 3) -->
              <div class="flyout-menu__content">

                {%- for child in item.links -%}

                  {%- if child.links.size > 0 -%}
                    <!-- Level 3 Group -->
                    <div class="flyout-menu__group">
                      <div class="flyout-menu__subheading">{{ child.title }}</div>
                      <ul class="flyout-menu__list">
                        {%- for grandchild in child.links -%}
                          <li>
                            <a href="{{ grandchild.url }}" class="flyout-menu__link">{{ grandchild.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- else -%}
                    <!-- Direct Level 2 Link -->
                    <a href="{{ child.url }}" class="flyout-menu__link">{{ child.title }}</a>
                  {%- endif -%}

                {%- endfor -%}

              </div>

            </details>
          </li>

        {%- endfor -%}

      </ul>
    </div>

  </div>
{% endif %}