{{ 'card-page.css' | asset_url | stylesheet_tag }}
<div class="card-page" data-page-id="{{ page.id }}">
  <div class="card-page__content">
    <a href="{{ page.url }}" class="card-page__title">{{ page.title }}</a>
    {% if page.content != blank %}
      <p class="card-page__excerpt">{{ page.content | strip_html | truncate: 120 }}</p>
    {% endif %}
    <a href="{{ page.url }}" class="card-page__read-more" aria-label="Read {{ page.title | escape }}">Read more</a>
  </div>
</div>